{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Start Banner -->
    <div class="section inner_page_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3>Register</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
<!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                           <h2><span class="theme_color"></span>Registration</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- register_form -->
    <div class="section contact_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 offset-lg-3">
                    <div class="full">
                        <form class="contact_form_inner" method="post">
                            {% csrf_token %}
                            {% for value in form.errors %}
                            <h3 style="text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;">The {{value}} has just taken, try with an other... </h3>
                            {% endfor %}
                            {% for message in messages %}
                            <h3 style="text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;">{{message}}</h3>
                            {% endfor %}
                            <fieldset>
                                <div class="field">
                                    <input type="email" name="email" placeholder="Email" required="required" value="{{ email }}">
                                </div>
                                <div class="field">
                                    <input type="text" name="username" placeholder="Username" required="required" value="{{ username }}">
                                </div>
                                <div class="field">
                                    <input type="text" name="first_name" placeholder="First Name" required="required" value="{{ first_name }}">
                                </div>
                                <div class="field">
                                    <input type="text" name="last_name" placeholder="Last Name" required="required" value="{{ last_name }}">
                                </div>
                                <div class="field">
                                    <input type="number" min="0" step="0.01" name="dollar_balance" placeholder="Dollar Balance" required="required" value="{{ dollar_balance }}">
                                </div>
                                <div class="field">
                                    <input type="password" name="password1" placeholder="Password" required="required">
                                </div>
                                <div class="field">
                                    <input type="password" name="password2" placeholder="Confirm Password" required="required">
                                </div>
                                <div class="field center">
                                    <button>Register</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end register_form -->
    <!-- end section -->
{% endblock %}

